<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654943336322-jg97kibrhojg31phfpg2q61j35rbjct5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654943336322-jg97kibrhojg31phfpg2q61j35rbjct5</string>
	<key>API_KEY</key>
	<string>AIzaSyBYzIEhxtdSbOk3jVOZ1j0AzBdyJM2Z1Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>654943336322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itswarm.willdo</string>
	<key>PROJECT_ID</key>
	<string>willdo-1cca0</string>
	<key>STORAGE_BUCKET</key>
	<string>willdo-1cca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654943336322:ios:1dc8bef5c5b2455305019b</string>
</dict>
</plist>